body {
    margin: 0;
    touch-action: manipulation;
   
}

* {
    touch-action: manipulation;
}

main {
    z-index: 3000;
}

/* #video {
    transform: translate(2px, -50%);
} */


.titlescreen {
    z-index: 15000;
    position:  absolute;
    background-image: url("assets/screens/title.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 600px;
    top: 300px;
    left: 700px;
}



.welldonescreen {
    z-index: 15000;
    position:  absolute;
    background-image: url("assets/screens/welldone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 1400px;
    top: 300px;
    left: 700px;
}

.instructionsimage {
    z-index: 10000;
    position:  absolute;
    background-image: url("assets/screens/instructions.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 600px;
    top: 300px;
    left: 700px;
}

#titleplaybutton {
    width: 120px;
    height: 120px;
    background-image: url("assets/buttons/play.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 300px;
    left: 300px;
}

#startagainbutton {
    width: 120px;
    height: 120px;
    background-image: url("assets/buttons/play.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 450px;
    left: 700px;
}

#closeinstructionsbutton {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 520px;
}

.playbutton {
    width: 120px;
    height: 120px;
    background-image: url("assets/buttons/play.png");
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1000px) {
    .playbutton  {
       width: 120px;
       height: 120px;
    }

}

#welldone {
    height: 90vh;
    width: 100vw;
}

.header-button {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 3000;
    cursor: pointer;
}

.buttonsmall {
    height: 50px;
    width: 50px;
}

#continuebuttons{
    position: absolute;
    top: 560px;
    left: 700px;
}

.continuebutton {
    height: 100px;
    width: 100px;

}

@media screen and (min-width: 1000px){
    .header-button {
        height: 80px;
        width: 80px;
    }
}

#mutebutton {
    top: 35px;
    left: 20px;
}

#openinstructionsbutton {
    top: 35px;
    left: 90px;
}

/* .welldoneimage {
    background-image: url("assets/screens/welldone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

.item {
    position: absolute;
    transform: translate(-50%, -50%);
}

.itemnoclick {
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.background {
    position: relative;
    background-image: url("assets/backgrounds/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.darkbackground {
    background-image: url("assets/backgrounds/darkbackground.jpg");
}

.gamebackground1a {
    background-image: url("assets/backgrounds/background1a.jpg");
}

.gamebackground1b {
    background-image: url("assets/backgrounds/background1b.jpg");
}

.gamebackground1c {
    background-image: url("assets/backgrounds/background1c.jpg");
}

.gamebackground1d {
    background-image: url("assets/backgrounds/background1d.jpg");
}

.gamebackground2a {
    background-image: url("assets/backgrounds/background2a.jpg");
}

.gamebackground2b {
    background-image: url("assets/backgrounds/background2b.jpg");
}

.gamebackground2c {
    background-image: url("assets/backgrounds/background2c.jpg");
}

.gamebackground2d {
    background-image: url("assets/backgrounds/background2d.jpg");
}

.gamebackground3a {
    background-image: url("assets/backgrounds/background3a.jpg");
    /* background-image: url("assets/backgrounds/background3test.jpg"); */

}

.gamebackground3b {
    background-image: url("assets/backgrounds/background3b.jpg");
    /* background-image: url("assets/backgrounds/background3test.jpg"); */

}

.gamebackground3c {
    background-image: url("assets/backgrounds/background3c.jpg");
    /* background-image: url("assets/backgrounds/background3test.jpg"); */

}

.gamebackground3d {
    background-image: url("assets/backgrounds/background3d.jpg");
        /* background-image: url("assets/backgrounds/background3test.jpg"); */

}

.inframearea {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1400px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}


.gamegrid1 {
    height: 480px;
    width: 480px;
    top: 300px;
    left: 700px;
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 240px 240px;
}

.gamegrid2 {
    height: 480px;
    width: 480px;
    top: 300px;
    left: 700px;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
}

.gamegrid3 {
    height: 480px;
    width: 480px;
    top: 300px;
    left: 700px;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
}

.tile {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tilecorner {
    background-image: url("assets/tiles/tile-corner.png");
}

.tilestraight {
    background-image: url("assets/tiles/tile-straight.png");

}

.rotate90 {
    transform: rotate(90deg);            
    transition: transform 900ms ease;
}


.welldonevideo {
    position:absolute;
    top: 50%;
    width: 100%;
    transform: translate(-4px, -50%);
}




.displaynone {
    display: none;
}


